.header {
  text-align: center;
}

.headerImage {
  width: 160%;
   margin-left: -30%; 
   margin-right: -30%; 
}

h1 {
  font-size: 72px;
}

.subtitle {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.AppStoreButton {
  margin: 20px;
}