.header {
  text-align: center;
}

.headerImage {
  width: 110%;
  margin-left: -5%; 
  margin-right: -5%; 
}

.appLogo {
   width: 200px;
}

h1 {
  font-size: 60px;
}

.subtitle {
  font-size: 36px;[]
  margin-top: -10px;
  margin-bottom: 30px;
}

.AppStoreButton {
  margin: 20px;
}